@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

header {
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: grey;
    border-bottom: 1px solid black;
}

nav ul li {
    font-family: 'Inter', sans-serif;
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
}
